<div class="basic-container">

  <div class="row">
    <div class="col-3">
      <mat-form-field appearance="standard" floatLabel="always">
        <mat-label>Número de Informe</mat-label>
        <input matInput type="text" [(ngModel)]="parametro">
      </mat-form-field>
    </div>

    <div class="col-3">
      <mat-form-field appearance="standard" floatLabel="always">
        <mat-label>Asunto</mat-label>
        <input matInput type="text">
      </mat-form-field>
    </div>

    <div class="col-3">
      <mat-form-field appearance="standard" floatLabel="always">
        <mat-label>Número de Registro</mat-label>
        <input matInput type="text">
      </mat-form-field>
    </div>

    <div class="col-3">
      <mat-form-field appearance="standard" floatLabel="always">
        <mat-label>Materia</mat-label>
        <mat-select [(ngModel)]="tipoParametro" (selectionChange)="onCgangeSelect()">
          <mat-option [value]="0">Seleccionar tipo parámetro </mat-option>
          <mat-option *ngFor="let tipoParametro of lstTipoParametro" [value]="tipoParametro.idTipoParametro">
            {{tipoParametro.tipoParametro}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-3">
      <mat-form-field appearance="standard" floatLabel="always">
        <mat-label>Fecha Desde</mat-label>
        <input matInput [matDatepicker]="picker2" >
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2 color="primary"></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="col-3">
      <mat-form-field color="accent" appearance="standard" floatLabel="always">
        <mat-label>Fecha Hasta</mat-label>
        <input matInput [matDatepicker]="picker1">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="col-3">
      <mat-form-field appearance="standard" floatLabel="always">
        <mat-label>Área Solicitante</mat-label>
        <mat-select [(ngModel)]="tipoParametro" (selectionChange)="onCgangeSelect()">
          <mat-option [value]="0">Seleccionar tipo parámetro </mat-option>
          <mat-option *ngFor="let tipoParametro of lstTipoParametro" [value]="tipoParametro.idTipoParametro">
            {{tipoParametro.tipoParametro}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-3">
      <mat-form-field appearance="standard" floatLabel="always">
        <mat-label>Área Destinatario</mat-label>
        <mat-select [(ngModel)]="tipoParametro" (selectionChange)="onCgangeSelect()">
          <mat-option [value]="0">Seleccionar tipo parámetro </mat-option>
          <mat-option *ngFor="let tipoParametro of lstTipoParametro" [value]="tipoParametro.idTipoParametro">
            {{tipoParametro.tipoParametro}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-3">
      <mat-form-field appearance="standard" floatLabel="always">
        <mat-label>Palabra clave </mat-label>
        <input matInput type="text" [(ngModel)]="parametro">
      </mat-form-field>
    </div>

    <div class="col-6">
      <mat-form-field appearance="standard" floatLabel="always">
        <mat-label>Contenido del informe </mat-label>
        <textarea matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="5"></textarea>
      </mat-form-field>
    </div>

    <div class="col-3">
      <div class="button-row">
        <button mat-flat-button color="primary" (click)="inicializar()">
          <mat-icon>search</mat-icon>
          BUSCAR
        </button>
        <button mat-flat-button color="primary" (click)="registrar()">
          <mat-icon>add</mat-icon>
          AGREGAR
        </button>
      </div>
    </div>
  </div>



  <div class="row container-principal ">

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="lstParametro">
        <ng-container matColumnDef="numeracion">
          <th mat-header-cell *matHeaderCellDef> #</th>
          <td mat-cell *matCellDef="let element">{{element.numeracion}}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> OPCIONES</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="openEdit(element)">
              <mat-icon>mode_edit</mat-icon>
            </button>
            <!--<button mat-icon-button color="eliminar" (click)="delete(element)">
              <mat-icon>delete</mat-icon>
            </button>-->

            <mat-slide-toggle
              class="example-margin"
              color="primary"
              [checked]="element.estado"
              (click)="cambiarEstado(element)">
            </mat-slide-toggle>

          </td>
        </ng-container>

        <ng-container matColumnDef="numeroInforme">
          <th mat-header-cell *matHeaderCellDef> NÚMERO INFORME</th>
          <td mat-cell *matCellDef="let element">{{element.descripcion}}</td>
        </ng-container>

        <ng-container matColumnDef="fechaRegistro">
          <th mat-header-cell *matHeaderCellDef> FECHA REGISTRO</th>
          <td mat-cell *matCellDef="let element">{{element.sigla}}</td>
        </ng-container>

        <ng-container matColumnDef="asunto">
          <th mat-header-cell *matHeaderCellDef> ASUNTO</th>
          <td mat-cell *matCellDef="let element">{{element.tipoParametro.tipoParametro}}</td>
        </ng-container>

        <ng-container matColumnDef="solicitante">
          <th mat-header-cell *matHeaderCellDef>SOLICITANTE</th>
          <td mat-cell *matCellDef="let element">{{element.tipoParametro.tipoParametro}}</td>
        </ng-container>

        <ng-container matColumnDef="destinatario">
          <th mat-header-cell *matHeaderCellDef>DESTINATARIO</th>
          <td mat-cell *matCellDef="let element">{{element.tipoParametro.tipoParametro}}</td>
        </ng-container>

        <ng-container matColumnDef="materia">
          <th mat-header-cell *matHeaderCellDef>MATERIA</th>
          <td mat-cell *matCellDef="let element">{{element.tipoParametro.tipoParametro}}</td>
        </ng-container>

        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef> ESTADO</th>
          <td mat-cell *matCellDef="let element" class="text-center">
            <span *ngIf="element.estado" style="color: #27ae60; font-weight: bold">ACTIVO</span>
            <span *ngIf="!element.estado" style="color: #ff5252; font-weight: bold">INACTIVO</span>
          </td>
        </ng-container>


        <!--<ng-container matColumnDef="fechaCreacion">
          <th mat-header-cell *matHeaderCellDef> FECHA CREACIÓN</th>
          <td mat-cell *matCellDef="let element">{{element.fechaRegistro}}</td>
        </ng-container>

        <ng-container matColumnDef="usuarioCreacion">
          <th mat-header-cell *matHeaderCellDef> USUARIO CREACIÓN</th>
          <td mat-cell *matCellDef="let element" class="text-center">{{element.usuarioRegistro}}</td>
        </ng-container>-->

        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas"></tr>

      </table>


    </div>
    <mat-paginator [pageSizeOptions]="[12, 20, 100]" [pageSize]="12" [length]="totalElements"
                   (page)="nextPage($event)">
    </mat-paginator>
  </div>
  <span class="version-info">Current build: {{version.full}}</span>
  <notifier-container></notifier-container>

</div>
