<mat-toolbar color="primary">
  <mat-toolbar-row>

    <button mat-icon-button  (click)="drawer.toggle();"><mat-icon routerLinkActive="active-icon">menu</mat-icon></button>
    <span>{{title}}</span>
    <span class="toolbar-spacer "></span>
    <button  mat-fab color="warn" [routerLink]="['/olex']">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onSelectOption('1')">
        <mat-icon>wb_sunny</mat-icon>
        <span>Option 1</span>
      </button>
      <button mat-menu-item (click)="onSelectOption('2')">
        <mat-icon>lens</mat-icon>
        <span>Option 2</span>
      </button>
      <button mat-menu-item (click)="onSelectOption('3')">
        <mat-icon>brightness_3</mat-icon>
        <span>Option 3</span>
      </button>
    </mat-menu>

  </mat-toolbar-row>

</mat-toolbar>

<mat-sidenav-container class="sidenav-container" >
  <mat-sidenav
    #drawer
    class="sidenav"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'side' : 'side'"
    [opened]="isMenuOpen">

    <!--<mat-nav-list>
      <a [routerLink]="['/olex']" mat-list-item href="#" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><mat-icon routerLinkActive="active-icon">home</mat-icon><span class="ml-2" > Welcome </span></a>
      <a [routerLink]="['/olex/tipoParametro']" mat-list-item href="#" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><mat-icon routerLinkActive="active-icon">settings</mat-icon><span class="ml-2" > Profile Settings</span></a>

    </mat-nav-list>
-->
    <mat-nav-list>
        <span *ngFor="let item of menu1">
          <span *ngIf="item.children && item.children.length > 0">
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <!-- Cabeceras del submenu -->
                    <div fxLayout="row" fxLayoutAlign="space-between center" >
                      <mat-icon>{{item.iconName}}</mat-icon>
                      {{item.displayName}}
                    </div>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <span *ngFor="let child of item.children">
                  <mat-list-item routerLink="{{child.route}}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" style="margin-left: -15px; margin-right: -20px; width: 290px">
                    <!-- Entradas de cada submenú  -->
                    <div fxLayout="row" fxLayoutAlign="space-between center" >
                    <mat-icon>{{child.iconName}}</mat-icon>
                      {{child.displayName}}
                    </div>
                  </mat-list-item>
                </span>
              </mat-expansion-panel>
            </mat-accordion>
          </span>
          <span *ngIf="!item.children || item.children.length === 0">
            <mat-list-item routerLink="{{item.route}}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <!-- Entradas principales -->
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <mat-icon>{{item.iconName}}</mat-icon>
                {{item.displayName}}
              </div>
            </mat-list-item>
          </span>
        </span>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content  [ngStyle]="{ 'margin-left.px': contentMargin }" >
    <div class="main">
      <!--<router-outlet #outlet="outlet" (propagar)="procesaPropagar($event)"></router-outlet>-->
      <router-outlet #outlet="outlet"></router-outlet>
      <!--<app-tipo-parametro></app-tipo-parametro>-->
    </div>


  </mat-sidenav-content>
</mat-sidenav-container>
