<div class="basic-container">
  <div class="row">
    <div class="col-4">
      <mat-form-field appearance="standard">
        <mat-label>Tipo Parámetro</mat-label>
        <mat-select [(ngModel)]="tipoParametro" (selectionChange)="onCgangeSelect()">
          <mat-option [value]="0">Seleccionar tipo parámetro </mat-option>
          <mat-option *ngFor="let tipoParametro of lstTipoParametro" [value]="tipoParametro.idTipoParametro">
            {{tipoParametro.tipoParametro}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field appearance="standard">
        <mat-label>Tipo Párametro</mat-label>
        <input matInput type="text" [(ngModel)]="parametro">
      </mat-form-field>
    </div>

    <div class="col">
      <div class="button-row">
        <button mat-flat-button color="primary" (click)="inicializar()">
          <mat-icon>search</mat-icon>
          BUSCAR
        </button>
        <button mat-flat-button color="primary" (click)="registrar()">
          <mat-icon>add</mat-icon>
          AGREGAR
        </button>
      </div>
    </div>
  </div>



  <div class="row container-principal ">

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="lstParametro">
        <ng-container matColumnDef="numeracion">
          <th mat-header-cell *matHeaderCellDef> #</th>
          <td mat-cell *matCellDef="let element">{{element.numeracion}}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> ACCIONES</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="openEdit(element)">
              <mat-icon>mode_edit</mat-icon>
            </button>
            <!--<button mat-icon-button color="eliminar" (click)="delete(element)">
              <mat-icon>delete</mat-icon>
            </button>-->

            <mat-slide-toggle
              class="example-margin"
              color="primary"
              [checked]="element.estado"
              (click)="cambiarEstado(element)">
            </mat-slide-toggle>

          </td>
        </ng-container>

        <ng-container matColumnDef="parametro">
          <th mat-header-cell *matHeaderCellDef> DESCRIPCIÓN</th>
          <td mat-cell *matCellDef="let element">{{element.descripcion}}</td>
        </ng-container>

        <ng-container matColumnDef="sigla">
          <th mat-header-cell *matHeaderCellDef> SIGLA</th>
          <td mat-cell *matCellDef="let element">{{element.sigla}}</td>
        </ng-container>

        <ng-container matColumnDef="tipoParametro">
          <th mat-header-cell *matHeaderCellDef> TIPO PÁRAMETRO</th>
          <td mat-cell *matCellDef="let element">{{element.tipoParametro.tipoParametro}}</td>
        </ng-container>

        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef> ESTADO</th>
          <td mat-cell *matCellDef="let element" class="text-center">
              <span *ngIf="element.estado" style="color: #27ae60; font-weight: bold">ACTIVO</span>
              <span *ngIf="!element.estado" style="color: #ff5252; font-weight: bold">INACTIVO</span>
          </td>
        </ng-container>


        <ng-container matColumnDef="fechaCreacion">
          <th mat-header-cell *matHeaderCellDef> FECHA CREACIÓN</th>
          <!--<td mat-cell *matCellDef="let element">{{element.fechaRegistro | date:'dd-MM-yyyy'}}</td>-->
          <td mat-cell *matCellDef="let element">{{element.fechaRegistro}}</td>
        </ng-container>

        <ng-container matColumnDef="usuarioCreacion">
          <th mat-header-cell *matHeaderCellDef> USUARIO CREACIÓN</th>
          <td mat-cell *matCellDef="let element" class="text-center">{{element.usuarioRegistro}}</td>
        </ng-container>

        <!--<ng-container matColumnDef="fechaModificacion">
          <th mat-header-cell *matHeaderCellDef> FECHA MODIFICACIÓN</th>
          <td mat-cell *matCellDef="let element">{{element.fechaModifica | date:'dd-MM-yyyy'}}</td>
        </ng-container>

        <ng-container matColumnDef="usuarioModificacion">
          <th mat-header-cell *matHeaderCellDef> USUARIO MODIFICACIÓN</th>
          <td mat-cell *matCellDef="let element">{{element.usuarioModifica}}</td>
        </ng-container>-->

        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas"></tr>

      </table>


    </div>
    <mat-paginator [pageSizeOptions]="[12, 20, 100]" [pageSize]="12" [length]="totalElements"
                   (page)="nextPage($event)">
    </mat-paginator>
  </div>
  <span class="version-info">Current build: {{version.full}}</span>
  <notifier-container></notifier-container>

</div>
