.basic-container {
  padding: 15px;
}

.version-info {
  font-size: 8pt;
  float: right;
}


.mat-form-field {
  /*font-size: inherit;
  font-weight: 400;
  line-height: 1.125;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;*/
  width: 100%;
}

.button-row .mat-button-base {
  margin: 16px 8px 8px 0;
}


.mat-form-field {
  height: 60px;
}


table{
  width: 100%;
}

.mat-header-row
{
  background-color: #1449a6;
  color: #dce1e7;
}
.mat-table {
  //border: 1px solid red;
  color: #dce1e7;
}

th.mat-header-cell, td.mat-footer-cell {
  padding-left: 6px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  color: white;
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
  font-size: 12px;
}


.mat-cell, .mat-footer-cell {
  font-size: 13px;
  color: #57606f;
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
}

.container-principal {
  height: 100%px;
  width: 100%px;
  max-height: 80vh;
  overflow: auto;
}

table {
  width: 100%;
}

mat-chip {
  /*max-width: 200px;*/
  height: 1px;
}


.mat-column-numeracion {
  min-width: 70px;
  max-width: 80px;
}

.mat-column-actions {
  min-width: 90px;
  max-width: 90px;
}

.mat-column-tipoParametro {
  min-width: 150px;
  //max-width: 130px;
}

.mat-column-sigla {
  min-width: 100px;
  //max-width: 130px;
}
.mat-column-parametro {
  min-width: 150px;
  //max-width: 130px;
}
.mat-column-fechaCreacion {
  min-width: 120px;
  //max-width: 130px;
}
.mat-column-estado {
  min-width: 120px;
  //max-width: 130px;
}

th {
  text-align: center !important;
  vertical-align: middle !important;
}
