<div mat-dialog-title class="blue-gradient">{{data.accion == 'EDITAR' ? 'EDITAR TIPO PÁRAMETRO' : 'REGISTRAR TIPO PÁRAMETRO'}}</div>
<form [formGroup]="parametroForm">
  <mat-dialog-content>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <mat-form-field appearance="standard" class="col-12">
          <mat-label>Tipo Parámetro</mat-label>
          <!--<mat-select [(ngModel)]="parametro" (selectionChange)="onCgangeSelect()">-->
          <mat-select [(ngModel)]="parametro.tipoParametro.idTipoParametro" formControlName="idTipoParametro">
            <mat-option>Seleccionar tipo parámetro </mat-option>
            <mat-option *ngFor="let tipoParametro of lstTipoParametro" [value]="tipoParametro.idTipoParametro">
              {{tipoParametro.tipoParametro}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12">
        <mat-form-field class="col-12">
          <input matInput type="text" placeholder="Nombre Párametro" [(ngModel)]="parametro.descripcion" formControlName="tipoParametro">
        </mat-form-field>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12">
        <mat-form-field class="col-12">
          <input matInput type="text" placeholder="Sigla" [(ngModel)]="parametro.sigla" formControlName="sigla">
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-flat-button color="primary" (click)="close()">
      <mat-icon>close</mat-icon>
      Cancelar
    </button>
    <button mat-flat-button color="primary" (click)="data.accion=='EDITAR'? editar():registrar()" [disabled]="!parametroForm.valid">
      <mat-icon>{{data.accion=='EDITAR'? 'save_as':'save'}}</mat-icon>
      {{data.accion =='EDITAR'? 'Modificar':'Registra'}}
    </button>
  </mat-dialog-actions>

</form>
