.mat-dialog-title {
  margin: -24px -24px 20px -24px;
  display: block;
  padding: 10px; /* optional you can remove if don't want padding for dialog title */
  background:#1e3799;
  color: white;
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
}
