<!--<h2 mat-dialog-title>{{titulo}}</h2>-->
<div mat-dialog-title class="blue-gradient">{{datos.accion == 'EDITAR' ? 'EDITAR TIPO PÁRAMETRO' : 'REGISTRAR TIPO PÁRAMETRO'}}</div>
<form [formGroup]="tipoParametroForm">
  <mat-dialog-content>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <mat-form-field class="col-12">
          <input matInput type="text" placeholder="Tipo Párametro" [(ngModel)]="parametro.tipoParametro" formControlName="tipoParametro">
        </mat-form-field>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12">
        <mat-form-field class="col-12">
          <input matInput type="text" placeholder="Descripción" [(ngModel)]="parametro.descripcion" formControlName="descripcion">
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-flat-button color="primary" (click)="close()">
      <mat-icon>close</mat-icon>
      Cancelar
    </button>
    <!--<button mat-flat-button color="primary" (click)="registrar()" [disabled]="!tipoParametroForm.valid">
      <mat-icon>{{datos.data ? 'save_as':'save'}}</mat-icon>
      {{datos!=null? 'Modificar':'Registra'}}
    </button>-->
    <button mat-flat-button color="primary" (click)="datos.accion=='EDITAR'? editar():registrar()" [disabled]="!tipoParametroForm.valid">
      <mat-icon>{{datos.accion=='EDITAR'? 'save_as':'save'}}</mat-icon>
      {{datos.accion =='EDITAR'? 'Modificar':'Registra'}}
    </button>
  </mat-dialog-actions>

</form>
