@import '~@angular/material/theming';
@import "~angular-notifier/styles";

@include mat-core();

// define a real custom palette (using http://mcg.mbitson.com)
$bv-brand: (
  50: #ffffff,
  100: #dde6f3,
  200: #b4c9e4,
  300: #7fa3d1,
  400: #6992c9,
  500: #5282c1,
  600: #4072b4,
  700: #38649d,
  800: #305687,
  900: #144aa7,
  A100: #ffffff,
  A200: #dde6f3,
  A400: #6992c9,
  A700: #38649d,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: white,
  )
);

$bv-orange: (
  50: #ffffff,
  100: #fff7f4,
  200: #fecdbd,
  300: #fc9977,
  400: #fc8259,
  500: #fb6c3b,
  600: #fa551d,
  700: #f44205,
  800: #d63a04,
  900: #b83204,
  A100: #ffffff,
  A200: #fff7f4,
  A400: #fc8259,
  A700: #f44205,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: white,
  )
);

// mandatory stuff for theming
$bv-palette-primary: mat-palette($bv-brand, 900);
$bv-palette-accent:  mat-palette($bv-orange);
$bv-palette-warn:  mat-palette($bv-orange);

// include the custom theme components into a theme object
$bv-theme: mat-light-theme($bv-palette-primary, $bv-palette-accent);

// include the custom theme object into the angular material theme
@include angular-material-theme($bv-theme);

body {
  /*font-family: Roboto, Arial, sans-serif;*/
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
}

.app-content {
  padding: 10px;
}

.button-uppercase {
  .mat-button, .mat-raised-button, .mat-simple-snackbar-action {
    text-transform: uppercase;
  }
}
.example-sidenav {
  width: 300px;
}
.isToggled.toggle-component-icon {
  transition-duration: 0.25s;
  transform: rotate(180deg);
}
.isUnToggled.toggle-component-icon {
  transform: rotate(0deg);
  transition-duration: 0.25s;
}
.component-examples-sect {
  z-index: 1;
}

pre {
  white-space: pre-wrap;
  background: rgba(0,0,0,.01);
  border: .5px solid rgba(0,0,0,.03);
  border-radius: 5px;
  display: block;
  margin: 16px auto;
  overflow-x: auto;
  padding: 20px;
}




.mat-eliminar {
  //background-color: #EA2027;
  color: #EA2027;
}


