<!--<div mat-dialog-title class="blue-gradient">{{data.accion == 'EDITAR' ? 'EDITAR TIPO PÁRAMETRO' : 'REGISTRAR TIPO PÁRAMETRO'}}</div>-->
<div mat-dialog-title class="blue-gradient">EDITAR TIPO PÁRAMETRO : REGISTRAR TIPO PÁRAMETRO</div>
<form [formGroup]="parametroForm">
  <mat-dialog-content>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <mat-form-field appearance="standard" floatLabel="always" class="col-12">
          <mat-label>Número de Informe</mat-label>
          <input matInput type="text" placeholder="Sigla" formControlName="sigla" required>
        </mat-form-field>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <mat-form-field appearance="standard" floatLabel="always" class="col-12">
          <mat-label>Número de Registro</mat-label>
          <input matInput type="text" placeholder="Sigla" formControlName="sigla" required>
        </mat-form-field>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <mat-form-field appearance="standard" floatLabel="always" class="col-12">
          <mat-label>Materia</mat-label>
          <!--<mat-select [(ngModel)]="parametro" (selectionChange)="onCgangeSelect()">-->
          <mat-select formControlName="idTipoParametro" required>
            <mat-option>Seleccionar tipo parámetro </mat-option>
            <!--<mat-option *ngFor="let tipoParametro of lstTipoParametro" [value]="tipoParametro.idTipoParametro">
              {{tipoParametro.tipoParametro}}
            </mat-option>-->
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-lg-12 col-md-12 col-sm-12">
        <mat-form-field appearance="standard" floatLabel="always" class="col-12">
          <mat-label>Asunto </mat-label>
          <textarea matInput
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="3"
                    cdkAutosizeMaxRows="10"
                    required></textarea>
        </mat-form-field>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <mat-form-field appearance="standard" floatLabel="always" class="col-12">
          <mat-label>Área Solicitante</mat-label>
          <!--<mat-select [(ngModel)]="parametro" (selectionChange)="onCgangeSelect()">-->
          <mat-select formControlName="idTipoParametro" required>
            <mat-option>Seleccionar tipo parámetro </mat-option>
            <!--<mat-option *ngFor="let tipoParametro of lstTipoParametro" [value]="tipoParametro.idTipoParametro">
              {{tipoParametro.tipoParametro}}
            </mat-option>-->
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <mat-form-field appearance="standard" floatLabel="always" class="col-12">
          <mat-label>Área Destinatario</mat-label>
          <!--<mat-select [(ngModel)]="parametro" (selectionChange)="onCgangeSelect()">-->
          <mat-select formControlName="idTipoParametro" required>
            <mat-option>Seleccionar tipo parámetro </mat-option>
            <!--<mat-option *ngFor="let tipoParametro of lstTipoParametro" [value]="tipoParametro.idTipoParametro">
              {{tipoParametro.tipoParametro}}
            </mat-option>-->
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <mat-form-field appearance="standard" floatLabel="always" class="col-12">
          <mat-label>Fecha</mat-label>
          <input matInput [matDatepicker]="picker3" required>
          <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
          <mat-datepicker #picker3 color="primary"></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <mat-form-field appearance="standard" floatLabel="always" class="col-12">
          <mat-label>Nombre Profesional</mat-label>
          <!--<mat-select [(ngModel)]="parametro" (selectionChange)="onCgangeSelect()">-->
          <mat-select formControlName="idTipoParametro" required>
            <mat-option>Seleccionar Profesional </mat-option>
            <!--<mat-option *ngFor="let tipoParametro of lstTipoParametro" [value]="tipoParametro.idTipoParametro">
              {{tipoParametro.tipoParametro}}
            </mat-option>-->
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <mat-form-field appearance="standard" floatLabel="always" class="col-12">
          <mat-label>Tipo Solicitud</mat-label>
          <!--<mat-select [(ngModel)]="parametro" (selectionChange)="onCgangeSelect()">-->
          <mat-select formControlName="idTipoParametro" required>
            <mat-option>Seleccionar Profesional </mat-option>
            <!--<mat-option *ngFor="let tipoParametro of lstTipoParametro" [value]="tipoParametro.idTipoParametro">
              {{tipoParametro.tipoParametro}}
            </mat-option>-->
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <mat-form-field appearance="standard" floatLabel="always" class="col-12">
          <mat-label>Complejidad</mat-label>
          <!--<mat-select [(ngModel)]="parametro" (selectionChange)="onCgangeSelect()">-->
          <mat-select formControlName="idTipoParametro" required>
            <mat-option>Seleccionar Profesional </mat-option>
            <!--<mat-option *ngFor="let tipoParametro of lstTipoParametro" [value]="tipoParametro.idTipoParametro">
              {{tipoParametro.tipoParametro}}
            </mat-option>-->
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <input class="ng-hide" id="input-file-id" multiple type="file" />
        <label for="input-file-id" class="mat-flat-button">Cargar Archivo</label>
      </div>

    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">


    <button mat-flat-button color="primary" (click)="close()">
      <mat-icon>close</mat-icon>
      Cancelar
    </button>
    <!--<button mat-flat-button color="primary" (click)="data.accion=='EDITAR'? editar():registrar()" [disabled]="!parametroForm.valid">
      <mat-icon>{{data.accion=='EDITAR'? 'save_as':'save'}}</mat-icon>
      {{data.accion =='EDITAR'? 'Modificar':'Registra'}}
    </button>-->
  </mat-dialog-actions>

</form>
