.mat-dialog-title {
  margin: -24px -24px 20px -24px;
  display: block;
  /*padding: 10px;*/
  padding: 5px;
  /* optional you can remove if don't want padding for dialog title */
  background:#1e3799;
  color: white;
  font-size: 15px;
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
}


:host {
  ::ng-deep {
    .mat-form-field-label {
      /*color: #1d1d1e;*/
      font-size: 16px;
      font-weight: bold;
      font-family: Roboto, "Helvetica Neue", sans-serif !important;;
    }
  }
}
